<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CouchDbPath" value="http://localhost:5984/photos"/>

		<add key="Rollbar.AccessToken" value="[ INSERT ROLLBAR API KEY HERE ]" />
		<add key="Rollbar.Environment" value="development"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>