{
  "AppSettings": {
    "CouchDbPath": "http://localhost:5984/photos",
    "LibraryPath": "/Users/myuser/TestImages",
    "ThumbnailPath": "/Users/myuser/TestThumbnails",
    "UdpListenPort": 11000,
    "PhotoServerPort": 5000,
    "WatchdogTimeout": 5000,
    "Rollbar": {
      "AccessToken": "<rollbar token>",
      "Environment": "development"
    }
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Verbose",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
