<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="CouchDbPath" value="http://localhost:5984/" />
        <add key="CacheFolder" value="PhotoLibraryCache" />
        <add key="UdpSearchPort" value="11000" />
        <add key="WatchdogTimeout" value="5000" />

		<add key="Rollbar.AccessToken" value="[ INSERT ROLLBAR API KEY HERE ]" />
		<add key="Rollbar.Environment" value="development" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
