<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="CouchDbPath" value="http://localhost:5984/photos" />
        <add key="PhotoBasePath" value="C:\PhotoLibrary\" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>

